/* @import './base.css'; */


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html, body, #app {
    margin: 0;
    padding: 0;
    height: 1080px;
    width: 1920px;
    overflow: hidden; 
    background-color: #292929;
    background-image: url('/img/Selection-bg.png');

}


/* #app {
  height: 1080px;
  width: 1920px;
} */

button {
    background-color: #CBFC7E;
    font-family: 'MD Nichrome Black';

}

/* Transition classes */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/*=========================================================

MD Nichrome

=========================================================*/
/* @font-face {
  font-family: 'MD Nichrome Test Black';
  font-style: normal;
  font-weight: normal;
  src: local('MD Nichrome Test Black'),
       url('/fonts/MDNichromeTest-Black.woff') format('woff'),
       url('/fonts/MDNichromeTest-Black.otf') format('opentype');
} */

@font-face {
  font-family: 'MD Nichrome Black';
  font-style: normal;
  font-weight: normal;
  src: local('MD Nichrome Black'),
       url('/fonts/MDNichrome-Black.woff') format('woff'),
       url('/fonts/MDNichrome-Black.woff2') format('woff2'),
       url('/fonts/MDNichrome-Black.otf') format('opentype');
}

/*=========================================================

Sequel Sans

=========================================================*/
/* @font-face {
    font-family: 'Sequel Sans Book Body';
    font-style: normal;
    font-weight: normal;
    src:  url('/fonts/SequelSansBookBody.woff') format('woff'),
            url('/fonts/SequelSansBookBody.woff2') format('woff2'),
            url('/fonts/SequelSansBookBody.ttf') format('truetype');
} */


@font-face {
    font-family: 'Sequel Sans Medium';
    font-style: normal;
    font-weight: normal;
    src:  url('/fonts/OGJ Type Design - Sequel Sans Display Medium.woff') format('woff'),
            url('/fonts/OGJ Type Design - Sequel Sans Display Medium.woff2') format('woff2'),
            url('/fonts/OGJ Type Design - Sequel Sans Display Medium.ttf') format('truetype');
}


